In [1]:
from pymongo.mongo_client import MongoClient
import urllib.parse


username = urllib.parse.quote_plus('ChenChen123')
password = urllib.parse.quote_plus('987412365')

client = MongoClient("mongodb+srv://ChenChen123:987412365@cluster0.wsf7z.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

In [2]:
database = client["dbmongo"]

In [3]:
collection = database["clooectmongo"]

In [4]:
data = {"name":"Chen Chen","city":"new york"}
data

{'name': 'Chen Chen', 'city': 'new york'}

In [5]:
collection.insert_one(data)

InsertOneResult(ObjectId('66da14acf6551aa4b8d8647e'), acknowledged=True)

In [6]:
collection.insert_many(
    [
        {"name": "Aman", "age": 20, "city": "Delhi"},
        {"name": "Rahul", "age": 22, "city": "Delhi"},
        {"name": "Rohit", "age": 23, "city": "Delhi"},
        {"name": "Amit", "age": 24, "city": "Delhi"}
    ]
)

InsertManyResult([ObjectId('66da14adf6551aa4b8d8647f'), ObjectId('66da14adf6551aa4b8d86480'), ObjectId('66da14adf6551aa4b8d86481'), ObjectId('66da14adf6551aa4b8d86482')], acknowledged=True)

In [7]:
collection.find_one()

{'_id': ObjectId('66d75e441f6ef6f77e0785dd'),
 'name': 'Chen Chen',
 'city': 'new york'}

In [8]:
records = collection.find()

In [9]:
records

In [10]:
records = list(collection.find())
for r in records:
    print(r)

{'_id': ObjectId('66d75e441f6ef6f77e0785dd'), 'name': 'Chen Chen', 'city': 'new york'}
{'_id': ObjectId('66d761761f6ef6f77e0785de'), 'name': 'aman', 'city': 'new york'}
{'_id': ObjectId('66d761761f6ef6f77e0785df'), 'name': 'mike', 'city': 'boston'}
{'_id': ObjectId('66d761761f6ef6f77e0785e0'), 'name': 'ankit', 'city': 'boston'}
{'_id': ObjectId('66da14acf6551aa4b8d8647e'), 'name': 'Chen Chen', 'city': 'new york'}
{'_id': ObjectId('66da14adf6551aa4b8d8647f'), 'name': 'Aman', 'age': 20, 'city': 'Delhi'}
{'_id': ObjectId('66da14adf6551aa4b8d86480'), 'name': 'Rahul', 'age': 22, 'city': 'Delhi'}
{'_id': ObjectId('66da14adf6551aa4b8d86481'), 'name': 'Rohit', 'age': 23, 'city': 'Delhi'}
{'_id': ObjectId('66da14adf6551aa4b8d86482'), 'name': 'Amit', 'age': 24, 'city': 'Delhi'}

In [11]:
collection.insert_many(
    [
        {"name":"aman","city":"new york"},
        {"name":"mike","city":"boston"},
        {"name":"ankit","city":"boston"}
    ]
)

InsertManyResult([ObjectId('66da14bff6551aa4b8d86483'), ObjectId('66da14bff6551aa4b8d86484'), ObjectId('66da14bff6551aa4b8d86485')], acknowledged=True)

In [12]:

#Create CRUD operations class
import pandas as pd
import json
class mongo_crud_operations:
    def __init__(self, client_url: str, database_name:str=None, collection_name:str=None):
        self.client_url = client_url
        self.database_name = database_name
        self.collection_name = collection_name
        
    def create_client(self):
        client = MongoClient(self.client_url)
        return client
    
    def create_database(self):
        client = self.create_client()
        db = client[self.database_name]
        return db
    
    def create_collection(self):
        db = self.create_database()
        collection = db[self.collection_name]
        return collection

    
    def create_collection(self):
        db = self.create_database()
        collection = db[self.collection_name]
        return collection
    
    def insert_record(self, collection_name:str, data ):
        if type(data) == list:
            for d in data:
                if type(d) != dict:
                    raise ValueError("data should be in dictionary format")
            collection = self.create_collection()
            collection.insert_namy(data)
        
        elif type(data) == dict:
            collection = self.create_collection()
            collection.insert_one(data)
        
        else:
            raise ValueError("Data should be in dictionary format")

    def find_all_records(self, collection_name:str):
        records = list(collection_name.find())
        for r in records:
            print(r)

    def find_record(self, collection_name:str, query:dict):
        records = list(collection_name.find(query))
        for r in records:
            print(r)

    def insert_in_bulk(self, datafile:str, collection_name:str):
        self.path = datafile

        if self.path.endswith(".json"):
            with open(self.path, "r")as file:
                data = json.load(file)
        elif self.path.endswith(".csv"):
            pd.read_csv(self.path, encoding='utf-8')

        elif self.path.endswith(".xlsx"):   
            pd.read_excel(self.path, encoding='utf-8')


        datajson = json.loads(data.to_json(orient = 'records'))
        collection = self.create_collection(collection_name)
        collection.insert_many(datajson)

In [13]:
client_url = "mongodb+srv://ChenChen123:987412365@cluster0.wsf7z.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [14]:
database_name = "5stepDB"
collection_name = "5stepcollection"

In [15]:
mongo = mongo_crud_operations(client_url, database_name, collection_name)

In [16]:
mongo.insert_record(collection_name, {"name":"john", "age":55, "city":"NY"})