In [1]:
# 初始化 MySQL 操作类
mysql_op = MySQLOperation(host="localhost", user="root", password="password", database="your_database")

# 创建表
create_table_query = """
CREATE TABLE IF NOT EXISTS example_table (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    age INT
)
"""

# 执行创建表的 SQL 查询
mysql_op.execute_query(create_table_query)

# 确认表格创建后插入一些数据
record = {"name": "Alice", "age": 30}
mysql_op.insert_record(record, "example_table")

# 查询插入的数据
result = mysql_op.fetch_records("SELECT * FROM example_table")
print(result)